/* App.css */

/* General body styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7fa;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

div {
  width: 60%;
  margin: 20px auto;
}

.box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* TextExpander Component Styling */
.text-expander {
  font-size: 16px;
  line-height: 1.6;
}

.text-expander button {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #1f09cd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.text-expander button:hover {
  background-color: #1507a0;
}

.text-expander button:focus {
  outline: none;
}

.text-expander .box {
  background-color: #f9fafb;
}

.text-expander span {
  display: block;
  margin-bottom: 10px;
}
